.animation {
  animation: jump 3s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  28% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  45% {
    transform: translateY(0);
  }
  48% {
    transform: translateY(-1px);
  }
  49% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
